amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
azure-common==1.1.28
azure-core==1.39.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-identity==1.25.3
azure-monitor-opentelemetry==1.8.7
azure-monitor-opentelemetry-exporter==1.0.0b51
azure-servicebus==7.6.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
confluent-kafka==2.6.1
cryptography==46.0.7
dependency-injector==4.49.0
deps-asb==1.0.2
deps-integrations==1.0.1
deps-kafka==4.0.2
deps-message-flow==2.1.1
deps-observability-instrumentation==1.0.1
deps-rabbitmq==1.0.2
fastapi==0.120.4
fastavro==1.12.1
googleapis-common-protos==1.74.0
greenlet==3.4.0
grpcio==1.80.0
h11==0.16.0
idna==3.12
importlib_metadata==8.7.1
isodate==0.7.2
msal==1.36.0
msal-extensions==1.3.1
msrest==0.7.1
oauthlib==3.3.1
opentelemetry-api==1.40.0
opentelemetry-distro==0.61b0
opentelemetry-exporter-otlp==1.40.0
opentelemetry-exporter-otlp-proto-common==1.40.0
opentelemetry-exporter-otlp-proto-grpc==1.40.0
opentelemetry-exporter-otlp-proto-http==1.40.0
opentelemetry-instrumentation==0.61b0
opentelemetry-instrumentation-asgi==0.61b0
opentelemetry-instrumentation-dbapi==0.61b0
opentelemetry-instrumentation-django==0.61b0
opentelemetry-instrumentation-fastapi==0.61b0
opentelemetry-instrumentation-flask==0.61b0
opentelemetry-instrumentation-logging==0.61b0
opentelemetry-instrumentation-psycopg2==0.61b0
opentelemetry-instrumentation-requests==0.61b0
opentelemetry-instrumentation-urllib==0.61b0
opentelemetry-instrumentation-urllib3==0.61b0
opentelemetry-instrumentation-wsgi==0.61b0
opentelemetry-proto==1.40.0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
opentelemetry-util-http==0.61b0
packaging==26.1
pika==1.3.2
pip==25.3
protobuf==6.33.6
psutil==7.2.2
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pydantic-settings==2.14.0
PyJWT==2.12.1
python-dotenv==1.2.2
python-multipart==0.0.26
requests==2.33.1
requests-oauthlib==2.0.0
sentry-sdk==1.45.1
six==1.17.0
SQLAlchemy==2.0.49
starlette==0.49.3
typing_extensions==4.15.0
typing-inspection==0.4.2
uamqp==1.6.11
urllib3==2.6.3
uvicorn==0.18.3
vine==5.1.0
wrapt==1.17.3
zipp==3.23.1
